{% extends 'ventas/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card bg-secondary text-white shadow-lg">
                <div class="card-body p-4">
                    <h2 class="card-title text-center mb-4">Agregar Producto</h2>
                    <hr class="mb-4">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="d-flex justify-content-end mt-4">
                            <button type="reset" class="btn btn-outline-light me-2">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Agregar Producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}