{% extends 'ventas/base.html'%}
{% load static %}
{% block contenido %}

<h2 class="text-white mb-4">Galería</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
        <a data-fancybox="gallery" href="{% static 'app/img/tienda/tienda1.jpg' %}">
            <img src="{% static 'app/img/tienda/tienda1.jpg' %}" class="img-fluid rounded shadow-sm" alt="Tienda 1">
        </a>
    </div>
    <div class="col">
        <a data-fancybox="gallery" href="{% static 'app/img/tienda/tienda2.jpg' %}">
            <img src="{% static 'app/img/tienda/tienda2.jpg' %}" class="img-fluid rounded shadow-sm" alt="Tienda 2">
        </a>
    </div>
    <div class="col">
        <a data-fancybox="gallery" href="{% static 'app/img/tienda/tienda3.jpg' %}">
            <img src="{% static 'app/img/tienda/tienda3.jpg' %}" class="img-fluid rounded shadow-sm" alt="Tienda 3">
        </a>
    </div>
    <div class="col">
        <a data-fancybox="gallery" href="{% static 'app/img/tienda/tienda4.jpg' %}">
            <img src="{% static 'app/img/tienda/tienda4.jpg' %}" class="img-fluid rounded shadow-sm" alt="Tienda 4">
        </a>
    </div>
    <div class="col">
        <a data-fancybox="gallery" href="{% static 'app/img/tienda/tienda5.jpg' %}">
            <img src="{% static 'app/img/tienda/tienda5.jpg' %}" class="img-fluid rounded shadow-sm" alt="Tienda 5">
        </a>
    </div>
</div>

{% endblock %}