.producto-detalle {
  background-color: #1f1f1f;
  border: 1px solid #444;
  border-radius: 1rem;
}

.producto-imagen-wrapper {
  max-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  border-radius: 0.5rem;
}

.producto-imagen {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  padding: 10px;
}

.producto-titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #f8f9fa;
}

.producto-descripcion {
  font-size: 1.1rem;
  color: #dcdcdc;
}

.producto-precio {
  font-weight: 700;
  color: #20c997;
}
